.github/
.husky/
build/
node_modules/
src/
.eslintignore
.gitignore
.gitmodules
.npmignore
.releaserc.json
package-lock.json
prepublish.js
rollup.config.js
tsconfig.json
CONTRIBUTING.md
CODE_OF_CONDUCT.md
package.json.bak
public/
**/*.tgz
